.Alpha1 > span.WebWorks_Number
{
  text-indent: -18pt;
}

.Alpha1 > span.WebWorks_Number > *
{
  text-indent: 0;
}

.AppendixTitle > span.WebWorks_Number
{
  text-indent: -72pt;
}

.AppendixTitle > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Bulleted > span.WebWorks_Number
{
  text-indent: -18pt;
}

.Bulleted > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Bulleted1 > span.WebWorks_Number
{
  text-indent: -18pt;
}

.Bulleted1 > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Bulleted2 > span.WebWorks_Number
{
  text-indent: -18pt;
}

.Bulleted2 > span.WebWorks_Number > *
{
  text-indent: 0;
}

.BulletedSpaced > span.WebWorks_Number
{
  text-indent: -18pt;
}

.BulletedSpaced > span.WebWorks_Number > *
{
  text-indent: 0;
}

.ChapterTitle > span.WebWorks_Number
{
  text-indent: -72pt;
}

.ChapterTitle > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Cmd2 > span.WebWorks_Number
{
  text-indent: -14.399999999999991pt;
}

.Cmd2 > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Cmd3 > span.WebWorks_Number
{
  text-indent: -14.400000000000005pt;
}

.Cmd3 > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Cmd4 > span.WebWorks_Number
{
  text-indent: -14.399999999999991pt;
}

.Cmd4 > span.WebWorks_Number > *
{
  text-indent: 0;
}

.CmdMaster > span.WebWorks_Number
{
  text-indent: -11.519999999999996pt;
}

.CmdMaster > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Footnote > span.WebWorks_Number
{
  text-indent: -12.000240000000001pt;
}

.Footnote > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Note > span.WebWorks_Number
{
  text-indent: -34.488pt;
}

.Note > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Note1 > span.WebWorks_Number
{
  text-indent: -36pt;
}

.Note1 > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Note2 > span.WebWorks_Number
{
  text-indent: -36pt;
}

.Note2 > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Note3 > span.WebWorks_Number
{
  text-indent: -36pt;
}

.Note3 > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Numbered > span.WebWorks_Number
{
  text-indent: -18pt;
}

.Numbered > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Numbered1 > span.WebWorks_Number
{
  text-indent: -18pt;
}

.Numbered1 > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Numbered2 > span.WebWorks_Number
{
  text-indent: -18pt;
}

.Numbered2 > span.WebWorks_Number > *
{
  text-indent: 0;
}

.NumberedIndent > span.WebWorks_Number
{
  text-indent: -18pt;
}

.NumberedIndent > span.WebWorks_Number > *
{
  text-indent: 0;
}

.NumberedSpaced > span.WebWorks_Number
{
  text-indent: -18pt;
}

.NumberedSpaced > span.WebWorks_Number > *
{
  text-indent: 0;
}

.PrefaceTitle > span.WebWorks_Number
{
  text-indent: -117pt;
}

.PrefaceTitle > span.WebWorks_Number > *
{
  text-indent: 0;
}

.SoloChapterTitle > span.WebWorks_Number
{
  text-indent: -72pt;
}

.SoloChapterTitle > span.WebWorks_Number > *
{
  text-indent: 0;
}

.TableFootnote > span.WebWorks_Number
{
  text-indent: -12.000240000000001pt;
}

.TableFootnote > span.WebWorks_Number > *
{
  text-indent: 0;
}

