div.Alpha1, caption.Alpha1
{
  color: #000000;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 36pt;
  margin-right: 0pt;
  margin-top: 9.0pt;
  text-align: Left;
  text-indent: -18pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Anchor, caption.Anchor
{
  color: #000000;
  font-family: Arial;
  font-size: 7.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.AnchorImage, caption.AnchorImage
{
  color: #000000;
  font-family: Arial;
  font-size: 7.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Center;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.API_Call, caption.API_Call
{
  color: #000000;
  font-family: "Courier New";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 5.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.AppendixTitle, caption.AppendixTitle
{
  color: #000000;
  font-family: Arial;
  font-size: 22.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 72pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: -72pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Body, caption.Body
{
  color: #000000;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 6.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Body1, caption.Body1
{
  color: #000000;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6.0pt;
  margin-left: 18pt;
  margin-right: 0pt;
  margin-top: 6.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Body2, caption.Body2
{
  color: #000000;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6.0pt;
  margin-left: 36pt;
  margin-right: 0pt;
  margin-top: 6.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Body3, caption.Body3
{
  color: #000000;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6.0pt;
  margin-left: 54pt;
  margin-right: 0pt;
  margin-top: 6.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Bulleted, caption.Bulleted
{
  color: #000000;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 18pt;
  margin-right: 0pt;
  margin-top: 5.0pt;
  text-align: Left;
  text-indent: -18pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Bulleted1, caption.Bulleted1
{
  color: #000000;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 36pt;
  margin-right: 0pt;
  margin-top: 5.0pt;
  text-align: Left;
  text-indent: -18pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Bulleted2, caption.Bulleted2
{
  color: #000000;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 54pt;
  margin-right: 0pt;
  margin-top: 5.0pt;
  text-align: Left;
  text-indent: -18pt;
  text-transform: none;
  vertical-align: baseline;
}

div.BulletedSpaced, caption.BulletedSpaced
{
  color: #000000;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5.0pt;
  margin-left: 18pt;
  margin-right: 0pt;
  margin-top: 5.0pt;
  text-align: Left;
  text-indent: -18pt;
  text-transform: none;
  vertical-align: baseline;
}

div.CellBody, caption.CellBody
{
  color: #000000;
  font-family: Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.CellBodyRtJust, caption.CellBodyRtJust
{
  color: #000000;
  font-family: Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 7.2pt;
  margin-top: 0.0pt;
  text-align: Right;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.CellHeading, caption.CellHeading
{
  color: #000000;
  font-family: Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.ChapterTitle, caption.ChapterTitle
{
  color: #000000;
  font-family: Arial;
  font-size: 22.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 72pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: -72pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Cmd1, caption.Cmd1
{
  color: #000000;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 126pt;
  margin-right: 0pt;
  margin-top: 5.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Cmd2, caption.Cmd2
{
  color: #000000;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 82.8pt;
  margin-right: 0pt;
  margin-top: 5.0pt;
  text-align: Left;
  text-indent: -14.399999999999991pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Cmd3, caption.Cmd3
{
  color: #000000;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 97.2pt;
  margin-right: 0pt;
  margin-top: 5.0pt;
  text-align: Left;
  text-indent: -14.400000000000005pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Cmd4, caption.Cmd4
{
  color: #000000;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 111.6pt;
  margin-right: 0pt;
  margin-top: 5.0pt;
  text-align: Left;
  text-indent: -14.399999999999991pt;
  text-transform: none;
  vertical-align: baseline;
}

div.CmdExample, caption.CmdExample
{
  color: #000000;
  font-family: "Courier New";
  font-size: 10.5pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 2.0pt;
  margin-left: 25.92pt;
  margin-right: 0pt;
  margin-top: 2.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.CmdExample2, caption.CmdExample2
{
  color: #000000;
  font-family: "Courier New";
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 3.0pt;
  margin-left: 24.984pt;
  margin-right: 0pt;
  margin-top: 3.0pt;
  text-align: Left;
  text-indent: 1.0079999999999991pt;
  text-transform: none;
  vertical-align: baseline;
}

div.CmdHead1, caption.CmdHead1
{
  color: #000000;
  font-family: "Courier New";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 36pt;
  margin-right: 0pt;
  margin-top: 5.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.CmdHead2, caption.CmdHead2
{
  color: #000000;
  font-family: "Courier New";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 54pt;
  margin-right: 0pt;
  margin-top: 5.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.CmdHead3, caption.CmdHead3
{
  color: #000000;
  font-family: "Courier New";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 72pt;
  margin-right: 0pt;
  margin-top: 5.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.CmdMaster, caption.CmdMaster
{
  color: #000000;
  font-family: "Courier New";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 37.44pt;
  margin-right: 0pt;
  margin-top: 5.0pt;
  text-align: Left;
  text-indent: -11.519999999999996pt;
  text-transform: none;
  vertical-align: baseline;
}

div.FigureTitle, caption.FigureTitle
{
  color: #000000;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Center;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Footer, caption.Footer
{
  color: #000000;
  font-family: Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Footnote, caption.Footnote
{
  color: #000000;
  font-family: "Times New Roman";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 30.00024pt;
  margin-right: 18pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: -12.000240000000001pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Header, caption.Header
{
  color: #000000;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 6.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Heading_API, caption.Heading_API
{
  color: #000000;
  font-family: Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 12.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Heading1, caption.Heading1
{
  color: #000000;
  font-family: Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 5.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 13.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Heading1NewPage, caption.Heading1NewPage
{
  color: #000000;
  font-family: Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 5.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Heading2, caption.Heading2
{
  color: #000000;
  font-family: Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 3.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 15.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Heading2NewPage, caption.Heading2NewPage
{
  color: #000000;
  font-family: Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 3.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 15.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Heading3, caption.Heading3
{
  color: #000000;
  font-family: Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 3.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 12.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Heading3NewPage, caption.Heading3NewPage
{
  color: #000000;
  font-family: Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 3.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 12.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Heading4, caption.Heading4
{
  color: #000000;
  font-family: Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 3.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 12.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Heading4NewPage, caption.Heading4NewPage
{
  color: #000000;
  font-family: Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 3.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 12.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.HeadingRunIn, caption.HeadingRunIn
{
  color: #000000;
  font-family: "Times New Roman";
  font-size: 12.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 6.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Indented, caption.Indented
{
  color: #000000;
  font-family: "Times New Roman";
  font-size: 12.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 18pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Mapping_Table_Cell, caption.Mapping_Table_Cell
{
  color: #000000;
  font-family: Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Mapping_Table_Title, caption.Mapping_Table_Title
{
  color: #000000;
  font-family: Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: justify;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.ModuleName, caption.ModuleName
{
  color: #000000;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 6.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 6.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Note, caption.Note
{
  color: #000000;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6.0pt;
  margin-left: 34.488pt;
  margin-right: 0pt;
  margin-top: 6.0pt;
  text-align: Left;
  text-indent: -34.488pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Note1, caption.Note1
{
  color: #000000;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6.0pt;
  margin-left: 54pt;
  margin-right: 0pt;
  margin-top: 6.0pt;
  text-align: Left;
  text-indent: -36pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Note2, caption.Note2
{
  color: #000000;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6.0pt;
  margin-left: 72pt;
  margin-right: 0pt;
  margin-top: 6.0pt;
  text-align: Left;
  text-indent: -36pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Note3, caption.Note3
{
  color: #000000;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6.0pt;
  margin-left: 90pt;
  margin-right: 0pt;
  margin-top: 6.0pt;
  text-align: Left;
  text-indent: -36pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Numbered, caption.Numbered
{
  color: #000000;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 18pt;
  margin-right: 0pt;
  margin-top: 9.0pt;
  text-align: Left;
  text-indent: -18pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Numbered1, caption.Numbered1
{
  color: #000000;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 36pt;
  margin-right: 0pt;
  margin-top: 9.0pt;
  text-align: Left;
  text-indent: -18pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Numbered2, caption.Numbered2
{
  color: #000000;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 54pt;
  margin-right: 0pt;
  margin-top: 9.0pt;
  text-align: Left;
  text-indent: -18pt;
  text-transform: none;
  vertical-align: baseline;
}

div.NumberedSpaced, caption.NumberedSpaced
{
  color: #000000;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 18pt;
  margin-right: 0pt;
  margin-top: 9.0pt;
  text-align: Left;
  text-indent: -18pt;
  text-transform: none;
  vertical-align: baseline;
}

div.PrefaceTitle, caption.PrefaceTitle
{
  color: #000000;
  font-family: Arial;
  font-size: 24.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0pt;
  margin-left: 117pt;
  margin-right: 108pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: -117pt;
  text-transform: none;
  vertical-align: baseline;
}

div.PrefHeading2, caption.PrefHeading2
{
  color: #000000;
  font-family: Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 5.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 10.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.PseudoCode, caption.PseudoCode
{
  color: #000000;
  font-family: "Courier New";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 3.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 3.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Pseudocode1, caption.Pseudocode1
{
  color: #000000;
  font-family: "Courier New";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 3.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 3.0pt;
  text-align: Left;
  text-indent: 36pt;
  text-transform: none;
  vertical-align: baseline;
}

div.PseudoCodeDivider, caption.PseudoCodeDivider
{
  color: #000000;
  font-family: "Courier New";
  font-size: 2.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.PseudoCodeWide, caption.PseudoCodeWide
{
  color: #000000;
  font-family: "Courier New";
  font-size: 7.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 2.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 2.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.SoloChapterTitle, caption.SoloChapterTitle
{
  color: #000000;
  font-family: Arial;
  font-size: 22.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 72pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: -72pt;
  text-transform: none;
  vertical-align: baseline;
}

div.TAB, caption.TAB
{
  color: #000000;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6.0pt;
  margin-left: 18pt;
  margin-right: 0pt;
  margin-top: 6.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.TableFootnote, caption.TableFootnote
{
  color: #000000;
  font-family: "Times New Roman";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 30.00024pt;
  margin-right: 18pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: -12.000240000000001pt;
  text-transform: none;
  vertical-align: baseline;
}

div.TableTitle, caption.TableTitle
{
  color: #000000;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Center;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Title, caption.Title
{
  color: #000000;
  font-family: "Times New Roman";
  font-size: 18.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 12.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 24.0pt;
  text-align: Center;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.WarningBody, caption.WarningBody
{
  color: #000000;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6.0pt;
  margin-left: 97.992pt;
  margin-right: 0pt;
  margin-top: 6.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.WarningDataLoss, caption.WarningDataLoss
{
  color: #000000;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6.0pt;
  margin-left: 10.008pt;
  margin-right: 0pt;
  margin-top: 6.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Writer_Comment, caption.Writer_Comment
{
  color: #ff0000;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 6.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

span.Bold
{
  color: #000000;
  font-family: Arial;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-transform: none;
  vertical-align: baseline;
}

span.BoldEmphasis
{
  color: #000000;
  font-family: Arial;
  font-style: italic;
  font-variant: normal;
  font-weight: bold;
  text-transform: none;
  vertical-align: baseline;
}

span.chapter
{
  color: #000000;
  font-family: Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  vertical-align: baseline;
}

span.Command
{
  color: #000000;
  font-family: "Courier New";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  vertical-align: baseline;
}

span.Description
{
  color: #000000;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  vertical-align: baseline;
}

span.EmailAddr
{
  color: #0000ff;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: underline;
  text-transform: none;
  vertical-align: baseline;
}

span.Emphasis
{
  color: #000000;
  font-family: Arial;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  vertical-align: baseline;
}

span.EquationVariables
{
  font-style: italic;
}

span.ExampleNote
{
  color: #000000;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  vertical-align: baseline;
}

span.HyperLink
{
  color: #0000ff;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  vertical-align: baseline;
}

span.Hyperlink
{
  color: #0000ff;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  vertical-align: baseline;
}

span.hypertext
{
  color: #0000ff;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  vertical-align: baseline;
}

span.Italicized
{
  color: #000000;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  vertical-align: baseline;
}

span.PageNumber
{
  color: #000000;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  vertical-align: baseline;
}

span.Parameter
{
  color: #000000;
  font-family: "Courier New";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  vertical-align: baseline;
}

span.parameter
{
  color: #000000;
  font-family: "Courier New";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  vertical-align: baseline;
}

span.SuperRegTM
{
  color: #000000;
  font-family: Arial;
  font-variant: normal;
  text-transform: none;
  vertical-align: super;
}

span.Trademark
{
  color: #000000;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  vertical-align: super;
}

span.trademark
{
  color: #000000;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  vertical-align: super;
}

table.invisible
{
  border-collapse: collapse;
  margin-bottom: 2.0pt;
  margin-left: 7.74504pt;
  margin-right: 0pt;
  margin-top: 4.0pt;
  padding-bottom: 2pt;
  padding-left: 6pt;
  padding-right: 6pt;
  padding-top: 4pt;
  text-align: left;
}

table.ThinLine
{
  border-collapse: collapse;
  margin-bottom: 4.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 6.0pt;
  padding-bottom: 3pt;
  padding-left: 6pt;
  padding-right: 6pt;
  padding-top: 9pt;
  text-align: left;
}

table.Doubleword
{
  border-collapse: collapse;
  margin-bottom: 2.0pt;
  margin-left: 7.74432pt;
  margin-right: 7.74432pt;
  margin-top: 6.0pt;
  padding-bottom: 2pt;
  padding-left: 3pt;
  padding-right: 6pt;
  padding-top: 4pt;
  text-align: left;
}

table.ThinLine1
{
  border-collapse: collapse;
  margin-bottom: 4.0pt;
  margin-left: 18pt;
  margin-right: 0pt;
  margin-top: 6.0pt;
  padding-bottom: 3pt;
  padding-left: 6pt;
  padding-right: 6pt;
  padding-top: 9pt;
  text-align: left;
}

table.Invisible
{
  border-collapse: collapse;
  margin-bottom: 2.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 4.0pt;
  padding-bottom: 2pt;
  padding-left: 6pt;
  padding-right: 6pt;
  padding-top: 6pt;
  text-align: left;
}

table.Invisible1
{
  border-collapse: collapse;
  margin-bottom: 2.0pt;
  margin-left: 18pt;
  margin-right: 0pt;
  margin-top: 4.0pt;
  padding-bottom: 2pt;
  padding-left: 6pt;
  padding-right: 6pt;
  padding-top: 6pt;
  text-align: left;
}

table.Configuration
{
  border-collapse: collapse;
  margin-bottom: 2.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 4.0pt;
  padding-bottom: 2pt;
  padding-left: 0.8pt;
  padding-right: 6pt;
  padding-top: 4pt;
  text-align: left;
}

